!base_font_size = 13px
!base_font_size_small = 13px
!base_font_color = #000
!default_border_radius = 6px

+general-typography

@font-face
  font-family: 'Vollkorn Regular'
  src: url('fonts/vollkorn/vollkorn.eot')
  src: local('Vollkorn Regular'), local('Vollkorn'), url('fonts/vollkorn/vollkorn.woff') format('woff'), url('fonts/vollkorn/vollkorn.ttf') format('truetype'), url('fonts/vollkorn/vollkorn.svg#Vollkorn') format('svg')
	
=vollkorn-regular-heading
  font-family: 'Vollkorn Regular', Georgia, serif
  font-size: 30px
  font-weight: normal
  line-height: 1.3
  
// Links
a
  color: #000
  &:hover
    color: #000
    text-decoration: none
  &:focus,
  &:active
    outline: none
  &:visited

body
  font-size= !base_font_size
  +sans-font
  
h1,h2,h3,h4,h5,h6
  color: #000
  font-weight: bold
  +heading-font

blockquote
  +heading-font
  font-size= !base_font_size * 1.2
.quote blockquote
  font-size= !h4
  line-height= !h5 * 1.625
  color: #555